// MITO-preprocessing

// Manifest
manifest {
  name = 'MITO-preprocessing'
  author = 'Andrea Cossa'
  homePage = 'https://github.com/andrecossa5/MI_TO.git'
  description = 'Preprocessing pipeline for lentiviral- and MT-variants-based lineage tracing.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {

    local {
      docker.enabled = true
      docker.runOptions = '--volume /Users/:/Users/'
    }
    hpc {
      executor.name = 'pbspro'
      process.queue = 'workq'
      singularity.enabled = true
      singularity.runOptions = '--bind /hpcnfs'
    }
    hpc_nocg {
      executor.name = 'pbspro'
      process.queue = 'nocg_workq'
      singularity.enabled = true
      singularity.runOptions = '--bind /hpcnfs'
    }

}

// Processes
process {
    
    errorStrategy = 'retry'
    maxRetries = 3

    //

    // sc_pp (and tenx_pp: SOLO, MERGE_R1, MERGE_R2 are shared between the two)
    withName: MERGE_R1 {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: MERGE_R2 {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: EXTRACT_R2 {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: BOWTIE_INDEX_GBC_PATTERN {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: ALIGN_33_R2 {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: GET_READS_NAMES {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: GET_NAMES_ALIGNED {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: GET_NAMES_NOT_ALIGNED {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: PREP_GBC {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: PREP_TRANSCRIPT {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: GET_GBC_ELEMENTS {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/mi_to:1.0'
    }
    withName: FASTA_FROM_REF {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: BOWTIE_INDEX_REF {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: GBC_TO_FASTA {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: ALIGN_GBC {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: SOLO {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: CELL_ASSIGNMENT {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/mi_to:1.0'
    }
    withName: generate_run_summary_sc {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }
    withName: publish_sc {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    }   

    //

    // maester_pp
    withName: ASSEMBLE_FQ {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/mi_to:1.0'
    } 
    withName: FILTER_I {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/mi_to:1.0'
    }
    withName: FILTER_II {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/mi_to:1.0'
    }
    withName: FIX_TAGS {
      cpus = 1
      memory = '5G'
      container = 'docker://acox1/mi_to:1.0'
    } 
    withName: MERGE {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/mi_to:1.0'
    } 
    withName: STAR {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/nf-perturbseq:1.0'
    } 
    withName: MAEGATK {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/mi_to:1.0'
    } 
    withName: TO_H5AD {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/mi_to:1.0'
    } 
    withName: publish_maester {
      cpus = 1
      memory = '1G'
      container = 'docker://acox1/mi_to:1.0'
    }  

}

// Tracing
trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}

// Tracing
tower {
    enabled = true
}