// pipeline.info.config

pipeline {
    name = 'nf-lenti'
    author = 'Andrea Cossa'
    email = 'andrea.cossa05@@gmail.com'
    homePage = 'https://github.com/andrecossa5/nf-lenti.git'
    description = 'Integrated pipeline for lentiviral-based scLT.'
    nextflowVersion = '>=20.01.0'
    version = '1.0.0'
}
