// user.config

// Global process settings
process {
  errorStrategy = 'retry'
  maxRetries    = 3
}

// Profile-specific
profiles {

  docker {
    docker.runOptions = '--volume /Users/ieo7295:/Users/ieo7295'
  }
  conda {
    process {
      withLabel: 'scLT' {
        conda = '/Users/ieo7295/miniforge3/envs/pyscenic'          // Path to envs
      }
      withLabel: 'MiTo' {
        conda = '/Users/ieo7295/miniforge3/envs/pyscenic'
      }
      withLabel: 'phylo' {
        conda = '/Users/ieo7295/miniforge3/envs/pyscenic'
      }
    }
  }
  singularity {

    process {
    	executor = 'pbspro'
   	  queue = 'nocg_workq'
    	queueSize = 50
    	submitRateLimit = '50/1min'
    	errorStrategy = 'retry'
    	maxRetries = 3
    	exitReadTimeout = '5 min'
  }

    singularity.runOptions = '--bind /hpcnfs,/hpcscratch'  // Add binding options
  }

  // Other profiles here
  // ....

}

// Others process options here...
// ...


//
